html, body {
	margin: 0;
	padding: 0;
}
body {
	min-width: 900px;
	padding: 0;
	margin: 0 auto;

}
h1 {
	font-size: 36px;
	line-height: 36px;
	color: #000000;

}
h2 {
	font-size: 16px;
	line-height: 30px;
}
h3 {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

header {
	background: #eeeeee;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.contaner {
    width: 880px;
    margin: 0 auto;
}

.logo {
	padding-top: 27px;
	float: left;
}

.main-nav {
	float: left;
    margin-top: 50px;
}
.user-block {
	float: right;
    margin: 0;
    padding: 0;
}
.user-block a {
    display: block;
    margin-top: 50px;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
.main-nav ul {
    margin-top: 0;
    margin-left: 135px;
}
.main-nav li {
	display: inline-block;
    font-size: 14px;
    line-height: 30px;

}
.main-nav a {
    display: block;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    color: #000000;

}
.main-nav a:hover {
    color: #fb565a;
}
.main-nav a:active {
    color: #000000;
    opacity: 0.4;
}

.slider{
    position:relative;
    height:310px;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
.slide{
    width: 880px;
    float: left;
    overflow: hidden;
}
.slide-text{
    width:380px;
    padding:30px 0;
    color:#283136;
}
.slide-title{
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:black;
}
.slides {
    overflow: hidden;
}
.slides-line {
    width: 300%;
    transition: transform 0.8s ease;

}
.slide .btn{
    display:block;
    width:240px;
    padding:10px 0;
    margin-top:25px;
    font-size:12px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.slide:nth-child(1){
    background-image:url('../img/slider1.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url('../img/slider2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('../img/slider3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}

#btn-1:checked ~ .slides .slides-line { 
    transform: translate(0);
}
#btn-2:checked ~ .slides .slides-line { 
    transform: translate(-880px);
}
#btn-3:checked ~ .slides .slides-line { 
    transform: translate(calc(-880px*2));
}

/* блок преимуществ */

.features {
	width: 880px;
	margin: 80px auto 0;
}

.feature-item {
	width: 240px;
	
}
.feature-item:first-child {
	float: left;
	margin-right: 80px;
}
.feature-item:nth-child(2) {
	float: left;
}
.feature-item:last-child {
	float: right;
}
.feature-item h2 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;

}
.feature-item p {
    font-size: 15px;
    line-height: 22px;

}
.feature-item a {
    display: block;
    width: 140px;
    text-decoration: none;
    height: 25px;
    border-radius: 3px;
    color: #ffffff;
    margin-top: 24px;
    margin-bottom: 80px;
    text-align: center;
    padding-top: 9px;
}
.feature-item img {
    margin-bottom: 6px;
}
.feature-item .red {
    background-color: #fb565a;
}
.feature-item .green {
    background-color: #00ca74;

}
.feature-item .yellow {
    background-color: #efc84a;

}
.feature-item .red:hover {
    background-color: #d6494d;
}
.feature-item .green:hover {
    background-color: #01a25e;

}
.feature-item .yellow:hover {
    background-color: #d6ae2c;

}
.feature-item .red:active {
    background-color: #b63538;
    box-shadow: inset 0 3px #9b2d30;
}
.feature-item .green:active {
    background-color: #009053;
    box-shadow: inset 3px #007b47;

}
.feature-item .yellow:active {
    background-color: #c09b24;
    box-shadow: inset 3px #a3841f;

}


.about {
	width: 880px;
	margin: 0 auto;
}
.info {
	width: 620px;
	float: left;
}
.summary {
	width: 250px;
	float: right;
}
.sponsors {
	width: 880px;
	margin: 0 auto;
}

.sponsors a {
    vertical-align: center;
}
.modal-content {
    position: absolute;
    background-color: #ffffff;
}

/* map */
.map,
.map-js {
    width: 100%;
    height: 416px;
    position: relative;
    background-color: grey;
}
.contacts-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}
.contacts {
    width: 250px;
    height: 220px;
    background-color: #ffffff;
    position: absolute;
    margin-top: 88px;
    left: 0;
    padding-top: 30px;

}
.contacts b {
    padding-left: 20px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.contacts p {
    padding-left: 20px;

}
.contacts span {
    padding-left: 20px;
}
/* catalog */


.shop-title {
    margin: 0 auto;
    padding-bottom: 80px;
    padding-top: 50px;
    text-align: center;
}
.shop-title b{
    font-size: 40px;
    line-height: auto;
    text-transform: uppercase;
}
.main-contaner {
    width: 880px;
    margin: 0 auto;
}
.price {
    float: left;
    margin-right: 170px;
}
.sort-by {
    float: left;
}
.sort-by li {
    display: inline-block;
    vertical-align: bottom;

}

.left-column {
    width: 250px;
    float: left;
    
}
.upper-part {
    margin-bottom: 10px;
}
.items {
    width: 590px;
    float: right;
}

.item {
    width: 240px;
}
.item:nth-child(odd) {
    float: left;
}
.item:nth-child(even) {
    float: right;
}
.description {
    width: 200px;
    padding-top: 80px;
}
.paginator {
    float: right;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    height: 415px;
    box-shadow: 0 40px 40px 0 rgba(0,0,0, 0.75);
    display: none;
}
.modal-content.show {
    display: block;
}
.info, .summary {
    margin-top: 50px;
}
.info p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 18px;
}
.list-left {
    margin-top: 47px;
    

}
.list-left ul,
.list-right ul {
    margin-top: 25px;
    list-style: none;

}
.info h1 {
    display: block;
    margin-bottom: 0;
}
.list-left li,
.list-right li {
    padding-bottom: 24px;
}
.summary img {
    padding-left: 40px;
    padding-top: 14px;
    padding-bottom: 23px;

}
.list-left li:nth-child(2),
.list-right li:nth-child(2) {
    padding-bottom: 27px;
}
.summary b {
    padding-left: 90px;
    font-size: 16px;
    line-height: 8.56px;
    text-transform: uppercase;
}
.list-right {
    margin-top: 68px;
    margin-left: 10px;
}